@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

.parent-body-element {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* ======================= Home Header ==================== */
header {
	position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  /* border: 1px solid red; */
  justify-content: center;
}

nav {
  /* border: 1px solid red; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
  height: 90%;
  width: 100%;
  padding: 0 30px;
}

.fifa-logo {
	height: 50px;
	width: 75px;
}

.hambur-btn {
  height: 72px;
  width: 60px;
  /* border: 1px solid red; */
}

/* ================================= Home Event Details Section ================================= */
.home-event-details::before {
	content: "";
	background-image: url(./assets/homeBackgroundFlipped.jpg);
	background-size: cover;
	opacity: 0.25;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -100;
	height: 1200px;
	/* border: 10px solid red; */
}

.home-event-details {
	/* border: 1px solid red; */
	margin-top: 125px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.home-event-details-headings {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
}

.slogan {
	font-size: 24px;
	color: #e9532a;
	font-weight: 600;
}

.event-heading {
	font-size: 60px;
	color: red;
	font-weight: 900;
	line-height: 65px;
}

.home-event-details-description {
	border: 2px solid white;
	padding: 15px;
	margin: 15px 20px 0 0;
	font-size: 20px;
	line-height: 30px;
	background-color: #cfcecd;
}

.home-event-time-and-location {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.home-event-time {
	font-size: 50px;
	font-weight:750;
	color: #575757;
}

.home-event-location {
	font-size: 27px;
}

/* ================================= Home Main Program Section ================================= */
.home-mainProgram-section {
	/* border: 1px solid red; */
	margin-top: 120px;
	background-color: #262832;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	padding: 50px 0;
	gap: 20px;
}

.home-mainProgram-heading {
	color: #fff;
	font-size: 25px;
}

.main-program-highlights {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 15px 24px;
	gap: 15px;
}

.program-card {
	/* border: 1px solid red; */
	width: 100%;
	display: grid;
	grid-template-columns: 11% 22% 1fr;
	column-gap: 5%;
	padding: 25px 5%;
	align-items: center;
}

.program-card-image {
	width: 50px;
	height: 50px;
}

.program-card-heading {
	color: red;
	font-size: 23px;
	/* border: 1px solid red; */
}

.program-card-explanation {
	color: #fff;
	font-size: 20px;
}

.buy-tickets {
	width: 72%;
	height: 80px;
	background-color: #ff4f38;
	color: #fff;
	font-size: 30px;
	border: none;
}

/* ================================= Home Featured Speakers Section ================================= */
.featured-speakers-section {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	align-items: center;
	/* border: 1px solid red; */
}

.featured-speakers-heading {
	font-size: 35px;
	color: #575757;
}

.speakers-catalogue {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 30px;
	padding: 0 20px;
	/* border: 1px solid red; */
}

.speakers-card {
	display: grid;
	grid-template-columns: 30% 65%;
	column-gap: 5%;
	width: 500px;
	height: 140px;
	/* border: 1px solid red; */
}

.speaker-picture-container {
	position: relative;
	/* border: 1px solid red; */
}

.chess-image {
	position: absolute;
	width: 70px;
	height: 70px;
}

.speaker-picture {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 130px;
	height: 124px;
}

.speaker-details {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3px;
}

.speaker-name {
	font-size: 23px;
}

.speaker-team {
	font-style: italic;
	color: red;
}

.speaker-dotted-line {
	line-height: 4px;
	margin-bottom: 15px;
	color: blueviolet;
}

.speaker-description {
	font-size: 17px;
}

.see-more {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	font-weight: 600;
	color: #343338;
}
