@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

.parent-body-element {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* ======================= Header ==================== */
header {
	position: fixed;
	z-index: 100;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80px;
  /* border: 1px solid red; */
  justify-content: center;
	mix-blend-mode: luminosity;
	backdrop-filter: blur(75px);
}

nav {
  /* border: 1px solid red; */
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
  height: 90%;
  width: 100%;
  padding: 0 30px;
}

.fifa-logo {
	height: 50px;
	width: 100px;
}

.hambur-btn {
  height: 72px;
  width: 60px;
  /* border: 1px solid red; */
}

.mobile-nav-menu {
	position: fixed;
	display: none;
	background-color: red;
	width: 100%;
	height: 100vh;
	z-index: 200;
	mix-blend-mode: multiply;
	backdrop-filter: blur(20px);
}

.close-menu-btn {
	position: absolute;
	top: 24.5px;
	right: 45px;
	height: 30px;
	width: 30px;
}

.mobile-nav-list {
	position: absolute;
	top: 90px;
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	gap: 30px;
	padding-left: 70px;
}

.nav-listitem {
	font-size: 40px;
	font-weight: 800;
	color: white;
}

/* ================================= Home Event Details Section ================================= */
.home-event-details::before {
	content: "";
	background-image: url(./assets/homeBackgroundFlipped.jpg);
	background-size: cover;
	opacity: 0.25;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -100;
	height: 1200px;
	/* border: 10px solid red; */
}

.home-event-details {
	/* border: 1px solid red; */
	margin-top: 125px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.home-event-details-headings {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 100%;
}

.slogan {
	font-size: 24px;
	color: #e9532a;
	font-weight: 600;
}

.event-heading {
	font-size: 60px;
	color: red;
	font-weight: 900;
	line-height: 65px;
}

.home-event-details-description {
	border: 2px solid white;
	padding: 15px;
	margin: 15px 20px 0 0;
	font-size: 20px;
	line-height: 30px;
	background-color: #cfcecd;
}

.home-event-time-and-location {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.home-event-time {
	font-size: 50px;
	font-weight:750;
	color: #575757;
}

.home-event-location {
	font-size: 27px;
}

/* ================================= Home Main Program Section ================================= */
.home-mainProgram-section {
	/* border: 1px solid red; */
	margin-top: 120px;
	background-color: #262832;
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	padding: 50px 0;
	gap: 20px;
}

.home-mainProgram-heading {
	color: #fff;
	font-size: 25px;
}

.main-program-highlights {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 15px 24px;
	gap: 15px;
}

.program-card {
	/* border: 1px solid red; */
	width: 100%;
	display: grid;
	grid-template-columns: 11% 22% 1fr;
	column-gap: 5%;
	padding: 25px 5%;
	align-items: center;
}

.program-card-image {
	width: 50px;
	height: 50px;
}

.program-card-heading {
	color: red;
	font-size: 23px;
	/* border: 1px solid red; */
}

.program-card-explanation {
	color: #fff;
	font-size: 20px;
}

.buy-tickets {
	width: 72%;
	height: 80px;
	background-color: #ff4f38;
	color: #fff;
	font-size: 30px;
	border: none;
}

/* ================================= Home Featured Speakers Section ================================= */
.featured-speakers-section {
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	gap: 40px;
	width: 100%;
	align-items: center;
	/* border: 1px solid red; */
}

.featured-speakers-heading {
	font-size: 35px;
	color: #575757;
}

.speakers-catalogue {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	gap: 30px;
	padding: 0 20px;
	/* border: 1px solid red; */
}

.speakers-card {
	display: grid;
	grid-template-columns: 30% 65%;
	column-gap: 5%;
	width: 500px;
	height: 140px;
	/* border: 1px solid red; */
}

.speaker-picture-container {
	position: relative;
	/* border: 1px solid red; */
}

.chess-image {
	position: absolute;
	width: 70px;
	height: 70px;
}

.speaker-picture {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 131px;
	height: 121px;
}

.speaker-details {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 3px;
}

.speaker-name {
	font-size: 23px;
}

.speaker-team {
	font-style: italic;
	color: red;
}

.speaker-dotted-line {
	line-height: 4px;
	margin-bottom: 15px;
	color: blueviolet;
}

.speaker-description {
	font-size: 17px;
}

.see-more {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	font-size: 20px;
	font-weight: 600;
	color: #343338;
}

/* ================================== About Page =================================== */
.about-details-section {
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	padding: 0 20px;
	margin-top: 150px;
}

.about-details-section::before {
	content: "";
	background-image: url(./assets/aboutBackgroundFlipped.jpg);
	background-size: cover;
	opacity: 0.1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -100;
	/* height: 1200px; */
	/* border: 10px solid red; */
}

.about-details-headings {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	width: 100%;
}

.about-slogan {
	font-size: 24px;
	color: #e9532a;
	font-weight: 600;
}

.about-details-heading {
	font-size: 55px;
	color: red;
	font-weight: 900;
	line-height: 65px;
	text-align: center;
}

.about-details-description {
	border: 3px solid #f4f4f4;
	padding: 15px;
	margin: 25px 0 0 0;
	font-size: 20px;
	line-height: 30px;
	background-color: #fff;
	text-align: center;
}

.about-contact-details {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.about-contact-caption {
	font-size: 20px;
	text-align: center;
	line-height: 30px;
}

.about-contact-email {
	font-size: 22px;
	font-weight: 700;
	text-decoration: underline;
	text-underline-offset: 5px;
}

.logo-details-section {
	margin-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	background-color: white;
	padding: 40px 30px;
}

.logo-details-heading {
	font-size: 30px;
	text-align: center;
}

.logo-history-description {
	font-size: 20px;
	text-align: center;
}

.about-fifa-logo-image {
	width: 600px;
	height: 300px;
	border: 2px solid #b9b8b8;
	margin: 20px 0;
}

hr {
	border: 0;
	width: 100%;
	background-color: #423f3f;
	height: 1px;
}

.past-events {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 35px;
	gap: 30px;
}

.past-events-heading {
	font-size: 30px;
	text-align: center;
}

.past-events-description {
	font-size: 20px;
	text-align: center;
}

.past-events-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	gap: 20px;
	padding: 20px;
	/* border: 1px solid red; */
}

.fifa-events {
	position: relative;
	/* border: 1px solid red; */
	width: 500px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.event-image {
	position: absolute;
	z-index: -1;
	filter: saturate(200%) hue-rotate(150deg);
	width: 100%;
	height: 100%;
}

.event-highlights {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.event-year {
	font-size: 40px;
	font-weight: 900;
	color: #fff;
}

.event-location {
	font-size: 22px;
	font-weight: 700;
	color: #fff;
}

.partners-section {
	background-color: #424146;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	gap: 50px;
}

.partner-section-heading {
	color: #fff;
	font-size: 35px;
}

.partner-logos {
	display: flex;
	flex-direction: row;
	gap: 60px;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.partner-image {
	width: 180px;
	height: 80px;
}

footer {
	display: flex;
	flex-direction: row;
	padding: 50px 0;
	/* gap: 30px; */
	justify-content: space-evenly;
}

.fifa-footer-logo {
	height: 150px;
	width: 150px;
}

.footer-description {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}

.footer-description p {
	font-size: 20px;
}